html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.card-body{
  /* background-color: red; */
  /* min-height:80%; */
}

/* .card{
  height:300px;
} */

.no_border{
  border: none;
  outline: none;
}

.center_card{
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: aqua;
}

.full_height{
  height:100vh;
  width:100vw
}