html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.no_border{
  border: none;
  outline: none;
}

.center_card{
  width:100vw;
  /* height:85vh; */
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: aqua;
}

.parent_div{
  height:84vh;
  display: flex;
  justify-content: center;
  place-items: center;
  /* background-color: aqua; */
}

.child_div{
  width:55vw;
  height:65vh;
  /* background-color: red; */

}

.full_height{
  height:100vh;
  width:100vw
}

.card-footer{

}